@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;    
}
#logo{
    width: 100px;
}
#welcomediv{
    height: 600px;
    padding-top: 5%;
    background-image: url("https://kq-storage.s3.ap-south-1.amazonaws.com/Github/groove-bg%5B1%5D.png");
    background-size: 100% 100%;
}
    
header,
footer {
    background-color: black;
    width: 100%;
    font-size: 20px;
    height: 50px;
    color: white;
    padding-top: 15px;
}
.subtext{
    font-size: 20px;
}
table{
    background-color:#FCFCFF ;
    border-collapse: collapse;
    border-color: #D8D8AA;
    text-align: center;
    border-spacing: 5px;
    margin: auto;
    
}
#button-div{
    background-color: #24B455;
    cursor: pointer;
    display: inline;
    font-size: 20px;
    padding: 18px;
    border: none;
}
a{
    color: #ffffff;
    text-decoration: none;
}




.inputs{
    width: 40px;
}

h1{
    font-size: 40px;
    padding-top: 5%;
}
.last{
    padding: 20px;
    text-align: center;
}
.heading{

    background-color:#24B455;
    color: #ffffff;
}

td{
    width: 220px;
}






#buynow{
    background-color: #24B455;
    width: 150px;
    text-align: center;
    cursor: pointer;
    border-radius: 7px;
    color: #ffffff;
    font-size: 20px;
    margin: 20px;
    padding: 10px;
    border: none;
}


input[type="text"]{
    text-align: center;
    width: 200px;

}

tr:hover{
    background-color:#EDEAE4;
}


.main-div{
    padding: 30px;
}

.subtext1{
    padding: 30px;  
    
}

